*{
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: url('Marketo assets/Rectangle.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0.5rem 1rem 0 0;
}

.sidebar a {
  text-decoration: none;
  font-size: 5px;
  display: block;
 
}

.nav__name {
vertical-align: middle;
font-size: 15px;
color: white;
margin-left: 10px;
}

#nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo, .nav__link, .nav__downArrow{
display: grid;
grid-template-columns: max-content max-content;
align-items: center ;
column-gap: .5rem;
padding:0 0 0 1.5rem;
}

.nav__logo{
align-items: center;
margin:2rem;
} 

.nav__iconImg{
  height: 2rem;
  width: 2rem;
}

.nav__link{
  position: relative;
  color: rgb(154, 109, 195);
  margin-bottom: 1.5rem;
  transition: .3s;
}

.nav__link:hover{
color: white;
}

.nav__downArrow{
 margin-left: 150px;
vertical-align: super;
}

.nav__iconImg:hover{
  color: white;

}

#settings{
position: absolute;
bottom: 0;
margin-bottom: 22px;
}
.show{


}

.body-pd{
  padding-left:calc(var(--nav-width)+1rem);
}
.active 
{
  color: white;
}

.active::before{
  content:'';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: white;
}

#main {
  height: 100%;
  margin-top: 0px;
  transition: margin-left .5s;
  background-color: rgb(241, 238, 234);
}

.search-container {
  float: left;
}

input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 15px;
  border: none;
}

.search-container button {
  background-color: transparent;
  font-size: 10px;
  cursor: pointer;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
 
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 15px;
  margin-right: 15px;
  border-style: inset;
  border-width: 1px;
} 
